[Unit]
Description=Wifi Connection Manager
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/home/albumplayer/PifiConnector/
ExecStart=/home/albumplayer/PifiConnector/wifivenv/bin/python3 wificonnect.py
Restart=on-failure

[Install]
WantedBy=multi-user.target